ETHEREUM_RPC = "your_ethereum_rpc"
POLYGON_RPC = "your_polygon_rpc"

OWNER_PK = "0xYourPrivateKey"

RELAYER_ADDRESS = "0xRelayerAddress"
RELAYER_PK = "0xRelayerPrivateKey"

ETHERSCAN_API = "YourEtherscanAPI"
POLYGON_API = "YourPolugonscanAPI"

DATABASE_PATH = "path"